.album__card_root {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 50px 30px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album__image {
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        height: 100%;
    }
}