.login__page_root {
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 1000px;
    height: 100vh;
    padding-top: 150px;
    background-image: linear-gradient(to top, #666666 0%, #000000 100%);
}

.login_page_error {
    margin: 0 auto;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    background-image: linear-gradient(-225deg, #bd1010 0%, #ff5d5d 52%, #ec0404 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.registration__link {
    margin-top: 15px;
    color: black;
    button {
        margin-left: 5px;
        color: #cccccc;
        font-size: 15px;
        background-color: #323232;
    }
}