.login__page_root {
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 1000px;
    height: 100vh;
    padding-top: 150px;
    background-color: #efeaea;
}

.registration__link {
    margin-top: 15px;
    color: black;
    button {
        margin-left: 5px;
        color: #1d5eaf;
        font-size: 15px;
    }
}