.userCard__wrapper {
    min-width: 200px;
    height: 200px;
    //margin: 60px;
    //margin-left: 60px;
    //padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-image: linear-gradient(to right, #cfd9e6 0%, #808080 100%);
    color: white;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    2px 2px 8px 0px rgba(50, 50, 50, 0.61);
    box-shadow:         2px 2px 8px 0px rgba(50, 50, 50, 0.61);
    border-radius: 5px;
}

.user__card_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}

.user__card_name {
    margin-top: 20px;
}