.music__page_root {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 30px 50px 30px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    button {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(196, 34, 34);
        color: white;
    }
}