.find__page_root {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    padding-top: 60px;
    h2 {
        font-size: 20px;
        color: red;
        text-align: center;
    }
}

.find__page_list {
    margin: 0 auto;
    margin-top: 10px;
}

.find__albums_wrapper, .find__artists_wrapper, .find__tracks_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.find__page_albums, .find__page_artists, .find__page_tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}