.mainPage__wrapper {
    padding-top: 200px;
    padding-bottom: 50px;
    border: 1px solid black;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    //overflow: hidden;
    z-index: 1;
    display: grid;
    gap: 50px;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;

  /* ! */
    //justify-items : center;
    //align-items: center;
    // background-color: rgb(187, 42, 42);
}

.mainPage__wrapper>* {
    flex: 0 0 33.3333%;
}