.mainPage__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 250px 30px 50px 30px;
}

@media (max-width: 1200px) {
  .mainPage__wrapper {
    width: 800px;
  }
}

@media (max-width: 1000px) {
  .mainPage__wrapper {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .mainPage__wrapper {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .mainPage__wrapper {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .mainPage__wrapper {
    width: 400px;
  }
}