.profile__page_root {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    overflow: hidden;
    z-index: 1;
}

.profile__input {
    margin-top: 200px;
}