.root {
    display: flex;
    align-items: center;
    input {
        background-color: white;
    }
    select {
        margin-left: -20px;
        color: black;
        height: 30px;
        border-radius: 5px;
    }
}

.search__icon {
    padding-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    color: red;
}