.album__card_root {
    width: 200px;
    height: 280px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
    margin-left: 23px;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    font-weight: 200;
    &:hover {
        transform: scale(1.05);
    }
}

.album__card_image{
    width: 200px;
    img {
        width: 100%;
    }
}

.album__card_title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 18px;
}