.home__page_root {
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    padding-top: 60px;
    background: url('../../img/qEgLFrgES57I6lmXes51bA.jpeg') bottom center /100% no-repeat fixed ;
    color: #183b58;
    position: relative;
}

.home__page_text {
    position: absolute;
    top: 500px;
    right: 20px;
    font-size: 20px;
    h1 {
        color: #183b58;
        margin-bottom: 20px;
    }
}

.home__button_news {
    button {
        position: absolute;
        top: 580px;
        right: 20px;
        background-color: #263392;
        color: rgb(255, 255, 255);
        border-radius: 15px;
    }
}

.home__animation_block {
    padding-top: 20px;
    width: 1000px;
    height: 350px;
    //background-image: linear-gradient(-60deg, #8ac9ff 0%, #ffffff 100%);
}

