.home__page_root {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    padding-top: 60px;
    color: #f34d3c;
    position: relative;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.home__page_text {
    font-size: 20px;
    h1 {
        color: #414141;
        margin-bottom: 20px;
    }
}

.home__button_news {
    button {
        background-color:#e5e5e5;
        color: rgb(37, 37, 37);
        border-radius: 15px;
    }
}

.home__animation_block {
    padding-top: 20px;
    width: 1000px;
    height: 350px;
}

.home__genres_block {
    width: 100%;
}

.home__genres_wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 20px 150px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.home__genres_loader {
    margin: 0 auto;
}

.home__genre_info {
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}